* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: rgb(44, 90, 218);
}

html {
  background-color: whitesmoke;
}

/*Main*/

h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--blue);
}

.title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles {
  width: calc(100vw-6rem);
  background-color: rgb(224, 224, 224);
  border-radius: 3rem 3rem 0 0;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  height: calc(80vh - 4rem);
  overflow: auto;
}

.create-article,
.article {
  width: 20rem;
  height: 24rem;
  border-radius: 1rem;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  color: var(--blue);
  transition: 0.7s;
  margin: 3rem;
}

.create-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-article:hover {
  background-color: var(--blue);
  color: whitesmoke;
}

.create-article h2 {
  font-weight: 900;
  font-size: 7rem;
}

.create-article h2::selection {
  background: transparent;
}

/*Article*/

.article {
  justify-content: center;
  text-align: center;
}

.article:hover {
  background-color: rgb(236, 236, 236);
}

.text {
  height: 50%;
}

.article h2 {
  padding: 2rem;
  font-size: 1.6rem;
}

.article p {
  padding: 0 2rem 1rem 2rem;
  color: black;
  font-size: 1.2rem;
}

.article img {
  width: 100%;
  height: 50%;
  border-radius: 0 0 1rem 1rem;
  background-color: black;
}

/*Form*/

.go-up {
  z-index: 199;
  width: 100%;
  height: 0vh;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue);
  transition: transform 0.3s ease, opacity 0.2s ease;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 100%);
  margin-top: -100vh;
  overflow-y: hidden;
}

.create-article-form {
  z-index: 200;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.1s ease;
  visibility: hidden;
  transform: translate(0, 100%);
  margin-top: -100vh;
  height: 0;
}

.overflow-hidden {
  overflow-y: hidden;
}

form {
  padding: 3rem;
}

.create-article-form input {
  display: block;
  margin: auto;
  text-align: center;
  border: none;
  background-color: whitesmoke;
  outline: none;
}

.form-title::placeholder,
.form-image::placeholder,
.form-content::placeholder,
.form-description::placeholder {
  color: rgb(184, 184, 184);
}

.form-title {
  font-size: 5rem;
  font-weight: 900;
  border-bottom: solid 2px black !important;
  width: 80vw;
  color: var(--blue);
}

.form-image {
  font-size: 2rem;
  font-weight: 100;
  border-bottom: solid 2px black !important;
  padding-top: 3rem;
  width: 70vw;
}

.form-description {
  font-size: 3rem;
  font-weight: 600;
  border-bottom: solid 2px black !important;
  padding-top: 7rem;
  width: 80vw;
  text-align: justify !important;
}

.form-content {
  display: block;
  margin: auto;
  outline: none;
  font-size: 2.5rem;
  resize: none;
  border: none;
  background-color: whitesmoke;
  font-weight: 300;
  width: 80vw;
  overflow-y: none;
  margin-top: 4rem;
  text-align: justify;
}

.div-scroll {
  overflow-y: visible;
}

/*Buttons*/

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
  padding-bottom: 3rem;
}

.create {
  height: 5rem;
  width: 15rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--blue);
  font-size: 3rem;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
}

.create:hover,
.delete:hover {
  background-color: rgb(0, 49, 184);
}

.cancel {
  height: 5rem;
  width: 17rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
}

.cancel:hover {
  background-color: var(--blue);
}

.complete-article {
  z-index: 998;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: whitesmoke;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.7s ease, opacity 0.5s ease;
  transform: translate(0, 100%);
  height: 0;
}

.is-active-article {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  height: auto;
}

.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  min-height: 100vh;
}

.complete-article h2 {
  font-size: 5rem;
  font-weight: 900;
  width: 80vw;
  color: var(--blue);
  text-align: center;
  padding: 5rem 0;
  padding-top: 5rem;
}

.scroll img {
  text-align: center;
  height: auto;
  width: 60vw;
  display: block;
  margin: auto;
  padding-bottom: 5rem;
}

.complete-article .description {
  font-size: 3rem;
  font-weight: 600;
  width: 80vw;
  text-align: justify;
}

.complete-article .content {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  width: 80vw;
  padding: 5rem 0;
  text-align: justify;
}

.go-back {
  position: fixed;
  z-index: 250;
  color: black;
  font-size: 5rem;
  top: 30;
  right: 2rem;
  cursor: pointer;
}

.go-back:hover {
  color: var(--blue);
}

.delete {
  display: block;
  margin: 1rem auto 3rem auto;
  color: whitesmoke;
  background-color: var(--blue);
  padding: 1rem 3rem;
  font-size: 3rem;
  font-weight: 900;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 60vw;
}
